body {
  background: rgb(16, 60, 231);
  background: linear-gradient(
    90deg,
    rgba(16, 60, 231, 1) 3%,
    rgba(100, 233, 255, 1) 97%
  );
}

span {
  color: #f9f8fd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  margin: 280px auto;
}
